.container-works {
    display: flex;
    flex-wrap: wrap;

}

.works {

    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow var(--animation);
    &:nth-child(3n) {
            margin-right: 0px;
        }
    &:nth-last-child(-n + 3) {
        margin-bottom: 0px;
    }
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
    }
    &:hover .image-text {
        transform: translateY(0);
       
    }

}

// .container-web:nth-child(3n) {
//     margin-right: 0px;
// }

// .container-web:nth-last-child(-n + 3) {
//     margin-bottom: 0px;
// }

// .container-web:hover {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
// }

// .container-web:hover .image-text {
//     transform: translateY(0);
//     /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); */
// }

.image-thumb {
    position: relative;
    overflow: hidden;
}

.image-text {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 63px 24px 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform var(--animation);
}

.container-text {
    border: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.works__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--primary-text-color);

}

.works__text {
    color: var(--title-text-color);
    line-height: 1.87;
    margin-top: 4px;

}