ul {
    list-style-type: none;
    margin: 0 0;
    padding: 0 0;
}

button {
    font-family: inherit;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    margin: 0 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}